<button type="button" class="btn btn-primary" (click)="upload()">upload</button>
<button type="button" class="btn btn-primary" (click)="uploadBySrc()">uploadBySrc</button>

<div class="loading" *ngIf="isLoading">Loading&#8230;</div>
<br>

<table class="table table-hover" border="0">
  <thead>
  <tr>
    <th style="text-align: center;" scope="col">Id</th>
    <th style="text-align: center;" scope="col"><input type="text" class="form-control" placeholder="Title" (change)="onChange()" [(ngModel)]="news.title"></th>
    <th style="text-align: center;" scope="col">
      <select (change)="onChange()" [(ngModel)]="news.source" class="form-control">
        <option style="display:none;" selected>Source</option>
        <option *ngFor="let sources of src">{{sources}}</option>
      </select>
    </th>
    <th style="text-align: center;" scope="col" (click)="changeSort()">
      Publication date
      <div class="input-group">
        <input type="date" style="width:50% " class="form-control pull-right" placeholder="Select date range"  (change)="onChange()" [(ngModel)]="news.dateFrom" data-date-format="YYYY MMMM DD"/>
        <input type="date" style="width:50% " class="form-control pull-right" placeholder="Select date range"  (change)="onChange()" [(ngModel)]="news.dateTo" data-date-format="YYYY MMMM DD"/>
      </div>
    </th>
    <th style="text-align: center;" scope="col">Save as PDF</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of newsItems">
      <td style="text-align: center;">{{element.id}}</td>
      <td style="text-align: center;"><a href="{{element.link}}">{{element.title}}</a></td>
      <td style="text-align: center;">{{element.source}}</td>
      <td style="text-align: center;">{{element.pubDate | date:'medium'}}</td>
      <td style="text-align: center;">
          <a href="#" data-toggle="modal" (click)="savePDF(element)">
            <i class="material-icons" data-toggle="tooltip" title="Save as PDF">&#xe415;</i>
          </a>
      </td>
    </tr>
  </tbody>
</table>
<hr>

<ul class="nav nav-pills">
  <li class="page-item disabled" id="previous">
    <a class="page-link" (click)="setPage(page-1, $event)">Previous</a>
  </li>
  <li class="nav-item" *ngFor="let p of items10; let i=index">
    <a href="#" class="nav-link" (click)="setPage(p, $event)" [ngClass]="{'active':p==page}">{{p}}</a>
  </li>
  <li class="page-item " id="next">
    <a class="page-link" (click)="setPage(page+1, $event)">Next</a>
  </li>
</ul>
<br><br>

<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">{{title}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <div [innerHTML]="htmlBodyDetail"></div>

        </div>
      </form>
    </div>
  </div>
</div>
