<select (change)="onChange($event.target.value)" class="form-control">
  <option></option>
  <option *ngFor="let sources of src">{{sources}}</option>
</select>
<button type="button" class="btn btn-primary" (click)="upload()">upload</button>
<button type="button" class="btn btn-primary" (click)="uploadBySrc()">uploadBySrc</button>

<br><br>

<br><br>
<div *ngFor="let element of items">
  <div><a href="{{element.link}}">{{element.title}}</a></div>
  <div>{{element.description}}</div>
  <div style="font-size: small"><i>Source: {{element.source}}, Publication date: {{element.pubDate | date:'medium'}}</i></div>
  <br>
</div>
