  <table class="table table-hover" style="text-align: left;">
    <thead>
    <tr>
      <th>source URL</th>
      <th>title name</th>
      <th>description name</th>
      <th>link name</th>
      <th>pubDate name</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sourceItem of sourceItems">
      <input type="hidden" value="{{sourceItem.id}}">
      <td style="width: 35%;"><input value="{{sourceItem.sourceURL}}" class="form-control" readonly></td>
      <td style="width: 15%;"><input value="{{sourceItem.title}}" class="form-control" readonly></td>
      <td style="width: 18%;"><input value="{{sourceItem.description}}" class="form-control" readonly></td>
      <td style="width: 10%;"><input value="{{sourceItem.link}}" class="form-control" readonly></td>
      <td style="width: 15%;"><input value="{{sourceItem.pubDate}}" class="form-control" readonly></td>
      <td>
        <a href="#editEmployeeModal" data-id="{{sourceItem.id}}" class="save" data-toggle="modal" id="{{sourceItem.id}}" (click)="open(sourceItem)" >
          <i class="material-icons" data-toggle="tooltip" title="Edit">&#xe3c9;</i>
        </a>
      </td>
      <td>
        <a href="#deleteEmployeeModal" data-id="{{sourceItem.id}}" class="delete" data-toggle="modal" id="{{sourceItem.id}}" (click)="delete(sourceItem.id)" >
          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <form ng-submit="addSrc()">
    <table class="table table-hover" style="text-align: left;" name="newSource">
    <tbody>
    <tr>
      <td style="width: 35%;"><input [(ngModel)]="newSource.sourceURL" name="src" id="src" class="form-control"></td>
      <td style="width: 15%;"><input [(ngModel)]="newSource.title" class="form-control" value="title" id="newTitle" name="newTitle"></td>
      <td style="width: 18%;"><input [(ngModel)]="newSource.description" class="form-control" value="description" id="newDescription" name="newDescription"></td>
      <td style="width: 10%;"><input [(ngModel)]="newSource.link" class="form-control" value="link" id="newLink" name="newLink"></td>
      <td style="width: 15%;"><input [(ngModel)]="newSource.pubDate" class="form-control" value="pubDate" id="newPubDate" name="newPubDate"></td>
      <td><input type="submit" value="Add" class="btn btn-primary" (click)="addSrc()"></td>
    </tr>
    </tbody>
  </table>
  </form>


  <!-- Edit Modal HTML -->
  <div id="editEmployeeModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <h4 class="modal-title">Edit Sources</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="hidden" class="form-control" value="{{editSource.id}}" required>
            </div>
            <div class="form-group">
              <label>source URL</label>
              <input [(ngModel)]="editSource.sourceURL" name="modifiedSourceURL" id="modifiedSourceURL" class="form-control" value="{{editSource.sourceURL}}" required>
            </div>
            <div class="form-group">
              <label>title name</label>
              <input [(ngModel)]="editSource.title" name="title" id="title" class="form-control" value="{{editSource.title}}" required>
            </div>
            <div class="form-group">
              <label>description name</label>
              <input [(ngModel)]="editSource.description" name="description" id="description" class="form-control" value="{{editSource.description}}" required>
            </div>
            <div class="form-group">
              <label>link name</label>
              <input [(ngModel)]="editSource.link" type="text" name="link" id="link" class="form-control" value="{{editSource.link}}" required>
            </div>
            <div class="form-group">
              <label>pubDate name</label>
              <input [(ngModel)]="editSource.pubDate" name="pubDate" id="pubDate" class="form-control" value="{{editSource.pubDate}}" required>
            </div>
          </div>
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
            <input type="submit" class="btn btn-info" value="Save" (click)="save(editSource)" data-dismiss="modal">
          </div>
        </form>
      </div>
    </div>
  </div>

